# UPduino board

set_io RXD 47  
set_io SPICLK 15 
set_io SPISI 14  
set_io TXD 12  
set_io oscillator 3  
set_io SPISSB 16  
set_io SPISO 17  
set_io reset 9  
set_io PIO1_18 43
set_io PIO1_19 6
set_io PIO1_20 36
set_io PORTA0 32
set_io PORTA1 31
set_io PORTA2 34
set_io PORTA3 20
set_io PORTA4 10
set_io PORTA5 19
set_io PORTA6 18
set_io PORTA7 25
set_io PORTA8 13
set_io PORTA9 21
set_io PORTA10 38
set_io PORTA11 26
set_io PORTA12 37
set_io PORTA13 28
set_io PORTA14 23
set_io PORTA15 27
